<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=3ioFnmvf9bEw3NLYW7AFRcfjdg6HGGDx"></script>
    <meta charset="UTF-8">
    <title>追踪</title>
</head>
<body>
<div id="allmap"></div>
</body>
<script type="text/javascript">

    function translateFromAPI(points, convertor) {
        console.log('original points:');
        console.log(points);

        var finished = false;
        convertor.translate(points, 1, 5, function (data) {
            if (data.status === 0) {
                console.log('translate success.')
            } else {
                console.log('translate failed.')
            }
            finished = true;
        });

        t = setTimeout(function () {
            if (finished) {
                clearTimeout(t);
            }
        }, 1000);
        console.log('translated points:');
        console.log(points);
        return points;
        return;

        translateUrl = 'http://api.map.baidu.com/geoconv/v1/?coords=';
        {#        console.log('length is '+points.length);#}
        for (var index in points) {
            point = points[index];
            translateUrl += point.lng+','+point.lat;
            if (index != points.length-1) {
                translateUrl += ';'
            }
        }
        ak = '3ioFnmvf9bEw3NLYW7AFRcfjdg6HGGDx';
        ak = '1P8u9vyYq3IDxrUKv0mIQxNg3GliEbcW';
        translateUrl += '&from=1&to=5&ak='+ak+'&output=json';
        console.log('translateFromAPI request is '+translateUrl);
        finished = false;
        $.ajax({
            url: translateUrl,
            type: 'GET',
            datatype: 'jsonp',
            crossDomain: true,
            success: function (obj) {
                for (var index in points) {
                    points[index].lng = obj.result[index].x;
                    points[index].lat = obj.result[index].y;
                    finished = true;
                }
            }
        });
    }

    var map = new BMap.Map("allmap");
    map.setCurrentCity("成都");
    map.addControl(new BMap.MapTypeControl());
    map.enableScrollWheelZoom(true);
    var point = null;
    var convertor = new BMap.Convertor();

    function refresh() {
        $.ajax({
            url: 'http://127.0.0.1:8000/query?filter=all',
            dataType: 'json',
            async: false,
            success: function(obj) {
                {#                console.log(obj);#}
                var points = Array();
                for (var i in obj.l) {
                    points.push(new BMap.Point(obj.l[i].longitude, obj.l[i].latitude));
                    {#                    console.log(points[index]);#}
                }
                if (points.length !== 0) {
                    points = translateFromAPI(points, convertor);
                }
                if (point !== null) {
                    points.unshift(point);
                } else {
                    map.centerAndZoom(points[0], 15);
                }
                for (var j in points) {
{#                    console.log(points[index]);#}
                    map.addOverlay(new BMap.Marker(points[j]));
                }
                map.addOverlay(new BMap.Polyline(points, {
                    strokeColor: "blue",
                    strokeWeight: 2,
                    strokeOpacity: 0.5
                }));
                if (points.length !== 0) {
                    point = points[points.length - 1];
                }
            }
        });
    }

    setInterval(refresh, 1500);
</script>
</html>
